@import "./base/reset";
@import "./abstract/_mixins.scss";
@import "./abstract/mixins";

.clear-fix {
  @include clearfix();
}

//non-mobile
.main {
  @include query("desktop") {
    max-width: calc(90em + 1px);
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  position: relative;
  height: 100vh;
  @include query("desktop") {
    display: flex;
  }
}

//mobile first

.color-mark {
  width: 50%;
  height: 31.25em;
  background: linear-gradient(to bottom, $light-magenta, $light-violet);
  border-radius: 0 0 100% 0;
  @include query("desktop") {
    width: 26.25em;
    border-radius: 0 0 50% 0;
    height: 85vh;
    border-radius: 0 0 70% 25%;
  }
}

.phone {
  min-width: 15.75em;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
  left: 50%;
  top: 0;
  transform: translate(-50%, 4em);
  position: absolute;
  background-color: $white;
  border-radius: 18px;
  padding: 0.75rem;
  @include query("desktop") {
    left: 0;
    top: 50%;
    transform: translate(22.4375em, -50%);
  }

  .phone-inner {
    background-color: $light-grayish-violet;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
  }
}

//header
.header {
  min-height: 4.25rem;
  border-radius: 18px 18px 9px 9px;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  display: flex;
  align-items: center;
  position: relative;
  & > div:not(:first-child) {
    margin-top: 1.25rem;
  }
  .shape {
    height: 1.25rem;
    width: 8.125rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    background: $white;
    border-radius: 0 0 30px 30px;
    @include query("desktop") {
      height: 1.5rem;
    }
  }

  .avatar {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    &::before {
      content: "\003C";
      display: flex;
      font-size: 1.5rem;
      color: $white;
      padding-right: 0.5rem;
    }
  }

  img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid $white;
    margin-right: 0.5rem;
  }

  .title h1 {
    color: $white;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
  }
  .title p {
    color: $pale-violet;
    font-size: 0.625rem;
    font-weight: 400;
  }
  .more-icon {
    margin-left: auto;
    margin-right: 1rem;
  }
  .icon {
    background: $white;
    height: 2px;
    width: 2px;
    &:not(:last-child) {
      margin-bottom: 1px;
    }
  }
  @include query("desktop") {
    min-height: 5.5rem;
  }
}

//chat content
.content {
  margin-top: 1rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  @include clearfix;

  .item {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border-radius: 14px;
    font-size: 0.725rem;
    max-width: 24ch;
  }

  .left {
    color: $moderate-violet;
    background: rgba($pale-violet, 0.03);
    border-bottom-left-radius: 6px;
    float: left;
  }

  .right {
    color: $dark-violet;
    background: $white;
    border-bottom-right-radius: 6px;
    float: right;
    display: flex;
    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 12px;
      margin-right: 0.625rem;
    }
  }
  .image {
    background-color: initial;
    box-shadow: none;
    padding: 0;
    max-width: 11.5625rem;
  }

  .pay {
    min-width: 10.125rem;
    display: flex;
    background: linear-gradient(
      to right,
      hsl(293, 100%, 63%),
      hsl(264, 100%, 61%)
    );
    color: $white;
    justify-content: space-between;
  }
}

//send
.phone-inner {
  .input {
    display: flex;
    height: 2.215rem;
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    background: $white;
    border-radius: 16px;
    margin-bottom: 0.875rem;
    font-size: 0.625rem;
    align-items: center;
    color: $grayish-blue;
    position: relative;
    span {
      margin-left: 1.25rem;
    }
    .icon-submit {
      width: 1.5rem;
      height: 1.5rem;
      background: $very-dark-violet;
      border-radius: 50%;
      margin-left: auto;
      margin-right: 0.5rem;
      position: relative;

      &::after {
        display: inline;
        content: "\003E";
        position: absolute;
        font-size: 1.5rem;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: $white;
      }
    }
  }
}

//article

.article {
  margin-top: 12.5em;
  text-align: center;

  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    color: $very-dark-violet;
    line-height: 2.6;
  }
  p {
    padding: 2.125em;
    padding-top: 0;
    line-height: 1.8;
    max-width: 25em;
    margin: 0 auto;
  }
  @include query("desktop") {
    margin: 0;
    margin-left: 23.625em;
    align-self: center;
    text-align: left;
    p {
      max-width: 52ch;
      padding-left: 0;
    }
  }
}

//attribute

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
